<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="enter text"/>
        <input type="text" name="tag" placeholder="enter tag"/>
        <button type="submit">enter</button>
    </form>
    <div>filter</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <button type="submit"> find</button>
    </form>
</div>

<div>список сообщений</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>
